<div class="personal-info">
  <label for="name">Name:</label>
  <input id="name">
  <label for="surname">Surname:</label>
  <input id="surname">
  <div class="gender">
    <label>Gender:</label>
    <input id="female" type="radio">
    <label for="female">Female</label>
    <input id="male" type="radio">
    <label for="male">Male</label>
    <input id="other-gender" type="radio">
    <label for="other-gender">Other</label>
  </div>
  <label for="birth-date">Date of birth:</label>
  <input id="birth-date" type="date">
  <input id="is-living" type="checkbox">
  <label for="is-living">This person is living</label>
</div>
