<div class="personal-info">
  <label for="name">Name</label>
  <input id="name">
  <label for="surname">Surname</label>
  <input id="surname">
  <div class="gender">
    <label class="label-gender-name">Gender</label>
    <input id="female" type="radio" name="gender" class="radio-button">
    <label for="female" class="label-gender">Female</label>
    <br>
    <input id="male" type="radio" name="gender" class="radio-button">
    <label for="male" class="label-gender">Male</label>
    <br>
    <input id="other-gender" type="radio" name="gender" class="radio-button">
    <label for="other-gender" class="label-gender">Other</label>
  </div>
  <label for="birth-date">Date of birth:</label>
  <input id="birth-date" type="date">
  <input id="is-living" type="checkbox">
  <label for="is-living">This person is living</label>
</div>
